.crypto-coin-ticker_page_crypto-coin-ticker-affiliate-panel #wpcontent {
  background: #2466e5;
}

.crypto-coin-ticker_page_crypto-coin-ticker-affiliate-panel .wrap {
  height: 87vh;
  min-height: 736px;
}

.crypto-coin-ticker_page_crypto-coin-ticker-affiliate-panel #wpfooter,
.crypto-coin-ticker_page_crypto-coin-ticker-affiliate-panel #wpfooter a {
  color: white;
}

#dashboard-widgets-wrap .wrap {
  height: 550px;
}

.coinslist input.crypto_coin_ticker_coinslist {
	width: 100%;
	padding: 10px;
}

.customstyles .crypto_coin_ticker_customstyles {
	width: 100%;
	min-height: 350px;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}

textarea.crypto_coin_ticker_dashwidgetcoininfo {
	min-width: 220px;
	min-height: 130px;
}

#ccticker_dashwallet_widget div {
	display: block;
	position: relative;
	overflow: hidden;
}

#ccticker_dashwallet_widget .ccticker-dashboard-widget-data {
	margin: 10px 0;
}

#ccticker_dashwallet_widget .widget-header {
	font-size: 16px;
}

#ccticker_dashwallet_widget .widget-header,
#ccticker_dashwallet_widget .data-header {
	font-weight: bold;
}

#ccticker_dashwallet_widget .data-header {
	background: rgba(0,0,0,0.08);
	margin-bottom: 6px;
}

#ccticker_dashwallet_widget .coin-row,
#ccticker_dashwallet_widget .data-header,
#ccticker_dashwallet_widget .grandTotal {
	display: flex;
}

#ccticker_dashwallet_widget .data-header,
#ccticker_dashwallet_widget .coin-row,
#ccticker_dashwallet_widget .grandTotal {
	padding: 3px 6px;
}

#ccticker_dashwallet_widget .coin-row:nth-child(odd) {
	background: rgba(0,0,0,0.03);
}

#ccticker_dashwallet_widget .coin-row > div,
#ccticker_dashwallet_widget .data-header > div,
#ccticker_dashwallet_widget .grandTotal > div {
	width: 100%;
}

#ccticker_dashwallet_widget .data-header > div:first-child,
#ccticker_dashwallet_widget .coin-row > div:first-child,
#ccticker_dashwallet_widget .grandTotal > div:first-child {
	width: 50%;
}

#ccticker_dashwallet_widget .grandTotal {
	background: rgba(0,0,0,0.08);
	margin-top: 6px;
}

#ccticker_dashwallet_widget .grandTotal > div {
	font-size: 16px;
	font-weight: bold;
}

#ccticker_dashwallet_widget .msg-error {
	border-left: 4px solid #ff0000;
	margin: 5px auto;
	padding: 4px 12px;
}
